.jockey-jsf-portlet .alloy-form {
	margin-top: 15px;
}

.jockey-jsf-portlet select[size] {
	height: 40px !important;
}

.jockey-jsf-portlet .alloy-paginator > div:last-child {
	display: none !important;
}