<f:view xmlns="http://www.w3.org/1999/xhtml"
		xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:h="http://java.sun.com/jsf/html"
		xmlns:alloy="http://liferay.com/faces/alloy">
	<h:head>
		<h:outputStylesheet name="style.css"/>
	</h:head>
	<h:body>
		<alloy:form id="search-form">
			<div class="row">
				<div class="col-md-4">
					<div class="form-group input-select-wrapper">
						<alloy:selectOneMenu id="team" value="#{jockeySearchBean.teamName}" styleClass="form-control">
							<f:selectItem noSelectionOption="true" itemLabel="#{i18n['select-team']}"/>
							<f:selectItems value="#{applicationConstants.teams}"/>
						</alloy:selectOneMenu>
					</div>
				</div>
				<div class="col-md-2">
					<alloy:commandButton value="#{i18n['search']}" action="#{jockeyOnDemandDataModel.search}" update=":data-form" styleClass="btn-primary"/>
				</div>
			</div>
		</alloy:form>

		<alloy:form id="data-form">
			<alloy:dataTable rows="#{jockeyOnDemandDataModel.rowsPerPage}" value="#{jockeyOnDemandDataModel}" var="jockey">
				<alloy:column headerText="#{i18n['id']}">
					<alloy:outputText value="#{jockey.id}"/>
				</alloy:column>
				<alloy:column headerText="#{i18n['name']}">
					<alloy:outputText value="#{jockey.name}"/>
				</alloy:column>
				<alloy:column headerText="#{i18n['horse']}">
					<alloy:outputText value="#{jockey.horse}"/>
				</alloy:column>
				<alloy:column headerText="#{i18n['team']}">
					<alloy:outputText value="#{jockey.teamName}"/>
				</alloy:column>
				<alloy:column>
					<alloy:link value="#{i18n['view']}" outcome="detail">
						<f:param name="id" value="#{jockey.id}"/>
					</alloy:link>
				</alloy:column>
				<f:facet name="footer">
					<alloy:paginator/>
				</f:facet>
			</alloy:dataTable>
		</alloy:form>
	</h:body>
</f:view>